{%extends 'base.html'%}
{% block content %}
<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Vivian Silvina </span>
                            <span class="section-heading-lower">Sobre mim</span>
                        </h2>
                        <p>Eu tenho 18 anos e gosto muito de programar. Sou apaixonada por Python e Banco de Dados, gosto de programar especificame sites.</p>
                        <p class="mb-0">
                            Estou no 4° ano do IFRN-PDF, no ensino médio integrado ao técnico em imformática, e pretendo seguir na área da informática, fazendo ADS.
                        </p>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
